@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0;
    margin: 0;

    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    color: #f0e9f8;

    flex-basis: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 15vw;
}

header ul {
    display: flex;
    gap: 40px;
    padding: 0;
    list-style: none;
}

header a {
    color: #e2d3f1;
    text-decoration: none;
    font-size: 18px;
    transition: all 200ms ease-in-out;
}

header a:hover {
    border-bottom: #e2d3f1 1px dashed;
}

header .logo {
    font-size: 24px;
    color: #f0e9f8;
    font-weight: 900;
}

footer {
    background-color: #1F2937;
    color: #e2d3f1;
    flex-basis: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.headline {
    height: 65vh;
   background-color: #1F2937; 
   color: #e2d3f1;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-inline: 15vw;
   gap: 25px;
   h1 {
        font-size: 48px;
        color: #f0e9f8;
        font-weight: 900;
        margin-bottom: 0;
   }
   h2 {
        font-size: 18px;
        color: #e2d3f1;
        font-weight: normal;
   }

   .right {
        background-color: #e2d3f1;
        height: 250px;
        width: 500px;
   }
}



.info {
    display: flex;
    flex-direction: column;
    padding-block: 5vh;
    align-items: center;

    h1 {
        font-size: 36px;
        color: #1F2937;
        font-weight: 900;
        padding-bottom: 5vh;
    }
}


.info-container {
    display: flex;
    justify-content: space-evenly;
    align-self: stretch;

}

.info .card {
    display: flex;
    flex-direction: column;
    max-width: 10vw;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: #1f1f1f;
    
}

.info .card:hover {

    

    div.image {
        box-shadow: 5px 5px 20px #431671;
    }
    
    span {
        font-weight: bold;
    }

}

.info .image {
    background-color: #e2d3f1;
    border: #7126bd solid 4px;
    border-radius: 15px;
    width: 10vw;
    height: 10vw;
    transition: all 200ms ease-in-out;
}



.quote {
    background-color: #e2d3f1;
    padding: 5vh 25vw;
    display: flex;
    flex-direction: column;
    
    
    h1 {
        transition: all 200ms ease-in-out;
        text-align: justify;
        font-size: 36px;
        color: #1F2937 ;
        font-weight: 300;
    }
    h2 {
        text-align: end;
    }

}

.quote:hover {
    h1 {
        /* font-weight: 400; */
        color: #000;
    }
}

.call-out {
    padding: 15vh 15vw;

    .card {
        background-color: #7126bd;
        border-radius: 10px;
        padding-block: 10vh;
        color: #f0e9f8;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    h1 {
        font-weight: 900;
        font-size: 32px;
        margin: 0;
    }

    h2 {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
    }
    
}

button {
    background-color: #7126bd;
    border-radius: 10px;
    padding: 10px 25px;
    border: #7126bd solid 2px;
    color: #f0e9f8;
    font-size: 18px;
    font-weight: 900;
    transition: all 100ms ease-in-out;
    font-family: Roboto;
}

.button-primary:hover {
    border: #f0e9f8 2px solid;
}

.button-primary:active {
    box-shadow: inset -5px -5px 10px #431671;
}

.button-secondary {
    border: #f0e9f8 2px solid;
}

.button-secondary:hover{
    color: #7126bd;
    background-color: #f0e9f8;
    border: #f0e9f8 2px solid;
}

.button-secondary:active {
    box-shadow: 5px 5px 10px #431671;
}